 <div class="badge badge-secondary" style="color: black;">
    You are already tracking 
      <% if !current_user.under_stock_limit? %>
        10 stocks
      <% end %>
      <% if current_user.stock_already_tracked?(@stock.ticker) %>
        this stock
      <% end %>
  </div>