<h1>Welcome to the Finance Tracker</h1>
<p>Create a welcome page</p>

<%= form_with url: destroy_user_session_path, method: :delete, data: { turbo: 'false' } do |form| %>
  <%= form.submit 'Sign out', class: 'btn btn-danger' %>
<% end %>


